<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Blog</title>
</head>
<style>
    body{
        background-color: grey;
    }
</style>
<body>
    <form action="/cad_blog" method="post">
        <input type="submit" value="Criar Post">
    </form>
    <div></div>
</body>
</html>