<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta para o User</title>
</head>
<body>
    <h1>Resposta:</h1>
    <p>Mensagem do servidor: <%= mensagem %>  </p>
    <p>User: <%= usuario %> Idade: <%= idade %></p>
    <p>Email: <%= login %></p>
    <p>clickkkkk <a href="/log_user">log</a></p>
</body>
</html>