<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Resposta para o User</title>
</head>
<body>
    <div id="div_repos">
        <h1>Usuário Cadastrado!</h1>
        <p><%= mensagem %>  </p>
        <p>User: <%= usuario %> </p>
        <p>Ano de Nascimento: <%= idade %></p>
        <p>Email: <%= login %></p>
        <p>Faça Seu login, <a href="/loga">aqui!!!</a></p>
    </div>
</body>
</html>