body{
    text-align: center;
    color: aqua;
    background-color: purple;
}

#div_repos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    color: black;
}