.flex-container {
    height: 600px;
    display: flex;
    background-color: dodgerblue;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.flex-container div {
    background-color: white;
    padding: 10px;
    margin: 20px;
} 